@import "../pages/about/about";
@import "../pages/login/login";
@import "../pages/report/report";
@import "../pages/tutorial/tutorial";

.normal-ws, .normal-ws { white-space: normal !important }

#range {
	height: 100%;
	margin: 0 auto;
}

.homePage { background: linear-gradient(34deg,#2fadad,#2dbd63); }
.homePage scroll-content { padding: 40px !important; }

#value-span,#value-input {
	width: 50%;
	float: left;
	display: block;
	text-align: center;
	margin: 0;
}